skills/dify-dsl-generator/examples/example-knowledge-retrieval.yml
app:
  description: 使用知识库检索的问答工作流示例，用户问题先从知识库检索相关内容，再由LLM生成回答
  icon: "\U0001F4DA"
  icon_background: '#E4FBCC'
  mode: advanced-chat
  name: 知识库问答示例
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      image:
        detail: high
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: 您好！我是知识库问答助手，请输入您的问题，我将从知识库中检索相关信息为您解答。
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
    - 这个知识库包含哪些内容？
    - 如何使用知识库检索功能？
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: start
        targetType: knowledge-retrieval
      id: '1740665000001-source-1740665000002-target'
      source: '1740665000001'
      sourceHandle: source
      target: '1740665000002'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: knowledge-retrieval
        targetType: llm
      id: '1740665000002-source-1740665000003-target'
      source: '1740665000002'
      sourceHandle: source
      target: '1740665000003'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: llm
        targetType: answer
      id: '1740665000003-source-answer-target'
      source: '1740665000003'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 用户输入问题
        selected: false
        title: 开始
        type: start
        variables:
        - label: 您的问题
          max_length: 2000
          options: []
          required: true
          type: paragraph
          variable: query
      height: 90
      id: '1740665000001'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        query_variable_selector:
        - '1740665000001'
        - query
        query_attachment_selector: []
        dataset_ids:
        - YOUR_DATASET_ID_HERE
        retrieval_mode: multi_way
        multiple_retrieval_config:
          top_k: 4
          score_threshold:
          reranking_enable: false
        desc: 从知识库检索相关内容
        selected: false
        title: 知识检索
        type: knowledge-retrieval
      height: 90
      id: '1740665000002'
      position:
        x: 382
        y: 282
      positionAbsolute:
        x: 382
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1740665000002'
          - result
        desc: ''
        model:
          completion_params:
            temperature: 0.3
            max_tokens: 2000
          mode: chat
          name: gpt-4o
          provider: openai
        prompt_template:
        - id: system_prompt
          role: system
          text: "你是一个专业的问答助手。请根据以下从知识库检索到的内容回答用户问题。\n\n注意事项：\n\
            1. 如果知识库中有相关信息，请基于检索内容准确回答\n2. 如果知识库中没有相关信息，请如实告知用户\n3. 不要编造或推测知识库中不存在的内容\n\
            4. 回答要简洁清晰，重点突出"
        - id: user_prompt
          role: user
          text: '用户问题：{{#1740665000001.query#}}


            知识库检索结果：

            {{#1740665000002.result#}}'
        selected: false
        title: 生成回答
        type: llm
        variables: []
        vision:
          enabled: false
      height: 90
      id: '1740665000003'
      position:
        x: 684
        y: 282
      positionAbsolute:
        x: 684
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        answer: '{{#1740665000003.text#}}'
        desc: ''
        selected: false
        title: 直接回复
        type: answer
        variables: []
      height: 107
      id: answer
      position:
        x: 986
        y: 282
      positionAbsolute:
        x: 986
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244